
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.form {
  width: 80%;
  background-color: white;
  min-height: 10rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
}

.forme{
  width: 80%;
  background-color: white;
  min-height: 10rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
}